html, body {
  text-align: left;
  height: 100%;
}



#left {
  height: 100%;
  width: 45%;
  position: static;
  float: left;
}

#right { 
  background:white; height: 100%;
  width: 50%;
  position: static;
  float: right;
}
